extends layout

block content
    header
        h1 Let's map the world
        h2 A real time web application
    #map(style='height: 80%;')
    #nombreClients
    footer 
        div(class="autor")
            | &copy; 
            a(href="https://fr.linkedin.com/in/loicmessal", title="Loic Messal", target="_blank") Loïc Messal 
        div(class="source")
            a(href="https://github.com/Tofull/LetsMapTheWorld.git", title="Github", target="_blank") View sources