doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href='/stylesheets/leaflet.css')

    script(src='/javascripts/leaflet.js')
    script(src='https://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
    script(src='/javascripts/mapActions.js')

    
